---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Junio 2010 - junio 2023",
    title: "Secretaria Privada",
    company: "Poder Judicial de la Provincia de Buenos Aires",
    description:
      "Gestioné eficientemente expedientes judiciales y preparé informes detallados utilizando Microsoft Excel, lo que permitió rastrear el progreso de los casos y la documentación relacionada de manera organizada y eficiente. Utilicé Funciones como SUMAR, SUMAR SI, CONTAR, CONTAR SI. Supervisé la gestión de expedientes en el despacho del Ministro, asegurándome de que los plazos se cumplieran puntualmente y coordinando la entrega y recepción de documentación con otras partes involucradas. Realicé Estadísticas y Dashboard detallados para ayudar en la toma de decisiones estratégicas y la presentación de datos a las partes interesadas.",
  },
  {
    date: "Abril 2022 - Mayo 2022",
    title: "Desarrollador de front-end",
    company: "Bienestar Salud",
    description:
      "Este proyecto implicó la creación de una página web para satisfacer las necesidades y objetivos específicos del cliente. Colaboré con el cliente para comprender sus requisitos y objetivos, asegurándome de que la página web cumpliera con sus expectativas y necesidades. Utilicé HTML y CSS para desarrollar la estructura y el diseño de la página web, asegurándome de que fuera visualmente atractiva y fácil de navegar. Incorporé elementos de Bootstrap y AOS elements para mejorar la usabilidad y la experiencia del usuario en la página web. Implementé prácticas de diseño responsivo para garantizar que la página fuera compatible con dispositivos móviles y de escritorio. Realicé pruebas exhaustivas para identificar y corregir errores de funcionamiento y de diseño, garantizando la calidad y la integridad de la página web. Proporcioné soporte y mantenimiento continuo para asegurar el buen funcionamiento de la página web después de su implementación.Trabajé de manera eficiente para cumplir con los plazos establecidos y entregar el proyecto dentro del tiempo acordado.",
    link: "https://bienestar-salud.vercel.app"

  },
  {
    date: "Agosto 2008 - Junio 2010",
    title: "Abogado",
    company: "Ejercicio de la Profesión Libre",
    description:
      "Desarrollé habilidades en comunicación para interactuar con el cliente, resolución de problemas y gestión de clientes. Establecí relaciones sólidas con clientes al brindar asesoramiento legal personalizado y orientación en una variedad de asuntos legales."

  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>